<div class="row" style="padding-top: 65px;">

    <section class="sign-in" style="margin:auto; padding:50px">
		<div class="container">
			<div class="signin-content" style="padding:30px 0px 30px">
				<div class="col-md-10 offset-md-1">
					<!-- <h2 class="form-title name">{{currentUser.name}}</h2> -->
					<table id="viewprofile">
                        <tr>
                            <td colspan="3">
                                <div class="name">Profile</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="details-td">
                                <div class="label">Name</div> : <div class="phone"> {{currentUser.name}}</div><br>
                                <div class="label">Location</div> : <div class="phone"> {{currentUser.location}}</div>
                                <br><div class="label">Phone</div> : <div class="mobile"> {{currentUser.phone}}</div>
                                <br><div class="label">Email</div> : <div class="email"> {{currentUser.id}}</div>
                            </td>
                            <td class="description-td">
                                
                                <div class="description" spellcheck="false">This is a Short Description of the Client</div>
                            </td>
                        </tr>
                    </table>
				</div>
			</div>
		</div>
	</section>


    <!-- <div class="col-md-6 offset-md-3"style="padding:20px; box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.120)">
        <table id="viewprofile">
            <tr>
                <td colspan="3">
                    <div class="name">{{currentUser.name}}</div>
                </td>
            </tr>
            <tr>
                <td class="details-td">
                    <div class="label">Phone</div> : <div class="phone">+91 9876 543 210</div>
                    <br><div class="label">Mobile</div> : <div class="mobile">+91 1234 567 890</div>
                    <br><div class="label">Email</div> : <div class="email">{{currentUser.id}}</div>
                </td>
                <td class="description-td">
                    
                    <div class="description" spellcheck="false">This is a Short Description of the Client</div>
                </td>
            </tr>
        </table>
    </div> -->
</div>
